.body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    padding: 0;
    margin: 0;
  }

  .primaryColor {
    color: #64ff00;
  };

  .secondaryColor {
    color: #64ff00;
  };

  .error {
    color: white;
    background-color: red;
  }